################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api.Application/Api.Application/appsettings.json
/Api.Application/.vs/Api.Application/v17
/Api.Application/.vs/Api.Application/FileContentIndex
